# for docker
# DATABASE_URL=postgresql://postgres:postgres@postgres:5432/goapi?sslmode=disable
# use localhost for migrate commands 
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/goapi?sslmode=disable

APP_NAME=goapi
APP_ENV=development
PORT=8080

# for docker network docker
# POSTGRES_HOST=postgres
# use localhost for migrate commands 
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=goapi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable

JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=24h