DATABASE_URL=postgresql://postgres:postgres@localhost:5432/goapi?sslmode=disable

# App
APP_NAME=goapi
APP_ENV=development
PORT=8080

# Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=goapi
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_SSLMODE=disable

# Security
JWT_SECRET=your-secret-key
JWT_EXPIRES_IN=24h